luigi/
.idea/

iro-micro-frontend/node_modules/
micro-frontend-demo/node_modules/
micro-frontend-demo2/node_modules/
micro-frontend-react/node_modules/

iro-micro-frontend/dist/
micro-frontend-demo/dist/
micro-frontend-demo2/dist/
micro-frontend-react/build/


iro-micro-frontend/.idea/
micro-frontend-demo/.idea/
micro-frontend-demo2/.idea/
micro-frontend-react/.idea/

